{% extends "base.html" %}
{% block content %}
<h2>Search Results for "{{ query }}"</h2>

{% for course in courses %}
    <div class="card">
        <h5>{{ course.title }}</h5>
        <p>{{ course.description }}</p>
        <a href="{% url 'instructor:course_detail' course.id %}" class="btn btn-primary">View Course</a>
            {% if user.is_authenticated and user.role == 'student' %}
                <a href="{% url 'enroll_course' course.id %}">Enroll</a>
            {% endif %}


    </div>
{% empty %}
    <p>No courses found.</p>
{% endfor %}

{% endblock %}
